# Project files
**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/._*
**/.Spotlight-V100
**/.Trashes
**/ehthumbs.db
**/Thumbs.db

# Node/npm/yarn (just in case)
node_modules/
*.log

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]

# macOS metadata
.DS_Store
.AppleDouble
.LSOverride

# Archives
*.zip
*.tar
*.tar.gz
*.rar

